<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApplication</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                   <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Objects
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Concerts" asp-action="Index">Concerts</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Rehearsals" asp-action="Index">Rehearsals</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Newses" asp-action="Index">Newses</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="PersonProjects" asp-action="Index">PersonProjects</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="PersonConcerts" asp-action="Index">PersonConcerts</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="PersonRehearsals" asp-action="Index">PersonRehearsals</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Notifications" asp-action="Index">Notifications</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="VoiceGroups" asp-action="Index">VoiceGroups</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="SheetMusics" asp-action="Index">SheetMusics</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProjectSheetMusics" asp-action="Index">ProjectSheetMusics</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="ConcertSheetMusics" asp-action="Index">ConcertSheetMusics</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="RehearsalSheetMusics" asp-action="Index">RehearsalSheetMusics</a>
                        </div>
                   </li>
                    
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - WebApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>