# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ChoirManagementService.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Programming\icd0009-2020s\ChoirManagementService\.idea\.idea.ChoirManagementService\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
